# Licensed to the Apache Software Foundation (ASF) under one or more
# license agreements; and to You under the Apache License, version 2.0:
#
#   https://www.apache.org/licenses/LICENSE-2.0
#
# This file is part of the Apache Pekko project, which was derived from Akka.
#

name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - 1.0.x
      - 1.1.x
      - 1.2.x
      - 1.3.x
    tags-ignore:
      - v*

concurrency:
  # Only run once for latest commit per ref and cancel other (previous) runs.
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  style-compile-mima:
    name: Compile, Code Style, Binary Compatibility
    runs-on: ubuntu-22.04
    if: github.repository == 'apache/pekko-connectors'
    env:
      JAVA_OPTS: -Xms2G -Xmx3G -Xss2M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-tags: true
          fetch-depth: 0

      - name: Setup Java 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Install sbt
        uses: sbt/setup-sbt@1cad58d595b729a71ca2254cdf5b43dd6f42d4bb # v1.1.18

      - name: Cache Coursier cache
        uses: coursier/cache-action@e47d7d35a0d3a2c7f649ca5c63dfc2bbfaa002e7 # v6.4.7

      # Javafmt code style check disabled temporarily
      # https://github.com/apache/pekko-connectors/issues/1401
      - name: "Code style, compile tests, MiMa. Run locally with: sbt \"+Test/compile; +mimaReportBinaryIssues\""
        run: sbt "+Test/compile; +mimaReportBinaryIssues"

      - name: "Integration Test Compile"
        run: sbt "+aws-spi-pekko-http-int-tests/Test/compile"

  documentation:
    name: ScalaDoc, Documentation with Paradox
    runs-on: ubuntu-22.04
    if: github.repository == 'apache/pekko-connectors'
    env:
      JAVA_OPTS: -Xms2G -Xmx3G -Xss2M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-tags: true
          fetch-depth: 0

      - name: Setup Java 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Install sbt
        uses: sbt/setup-sbt@1cad58d595b729a71ca2254cdf5b43dd6f42d4bb # v1.1.18

      - name: Build Documentation
        run: |-
          sbt docs/paradox unidoc

  connectors:
    runs-on: ubuntu-22.04
    if: github.repository == 'apache/pekko-connectors'

    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        include:
          - { connector: amqp,                         pre_cmd: 'docker compose up -d amqp' }
          - { connector: avroparquet }
          - { connector: aws-spi-pekko-http }
          - { connector: awslambda }
          - { connector: aws-event-bridge,             pre_cmd: 'docker compose up -d amazoneventbridge' }
          - { connector: azure-storage-queue }
          - { connector: cassandra,                    pre_cmd: 'docker compose up -d cassandra' }
          - { connector: couchbase,                    pre_cmd: 'docker compose up -d couchbase_prep' }
          - { connector: couchbase3,                   pre_cmd: 'docker compose up -d couchbase_prep' }
          - { connector: csv }
          - { connector: dynamodb,                     pre_cmd: 'docker compose up -d dynamodb' }
          - { connector: elasticsearch,                pre_cmd: 'docker compose up -d elasticsearch6 elasticsearch7 opensearch1' }
          - { connector: file }
          - { connector: ftp,                          pre_cmd: './scripts/ftp-servers.sh' }
          - { connector: geode,                        pre_cmd: 'docker compose up -d geode' }
          - { connector: google-cloud-bigquery }
          - { connector: google-cloud-bigquery-storage }
          - { connector: google-cloud-pub-sub,         pre_cmd: 'docker compose up -d gcloud-pubsub-emulator_prep' }
          - { connector: google-cloud-pub-sub-grpc,    pre_cmd: 'docker compose up -d gcloud-pubsub-emulator_prep' }
          - { connector: google-cloud-storage }
          - { connector: google-common }
          - { connector: google-fcm }
          # hbase disabled until we resolve why new docker image fails our build: https://github.com/akka/alpakka/issues/2185
          # - { connector: hbase,                        pre_cmd: 'docker compose up -d hbase' }
          - { connector: hdfs,                         pre_cmd: 'file ${HOME}/.cache/coursier/v1/https/repo1.maven.org/maven2/org/typelevel/cats-kernel_2.13/2.0.0/cats-kernel_2.13-2.0.0.jar' }
          - { connector: huawei-push-kit }
          - { connector: influxdb,                     pre_cmd: 'docker compose up -d influxdb' }
          # ironmq disabled while we resolve https://github.com/apache/pekko-connectors/issues/697
          # - { connector: ironmq,                       pre_cmd: 'docker compose up -d ironauth ironmq' }
          - { connector: jakartams,                    pre_cmd: 'docker compose up -d ibmmq' }
          - { connector: jms,                          pre_cmd: 'docker compose up -d ibmmq' }
          - { connector: json-streaming }
          - { connector: kinesis }
          - { connector: kudu,                         pre_cmd: 'docker compose up -d kudu-master kudu-tserver' }
          - { connector: mongodb,                      pre_cmd: 'docker compose up -d mongo' }
          - { connector: mqtt,                         pre_cmd: 'docker compose up -d mqtt' }
          - { connector: mqttv5,                       pre_cmd: 'docker compose up -d mqtt' }
          - { connector: mqtt-streaming,               pre_cmd: 'docker compose up -d mqtt' }
          - { connector: orientdb,                     pre_cmd: 'docker compose up -d orientdb' }
          - { connector: pravega,                      pre_cmd: 'docker compose up -d pravega'}
          - { connector: reference }
          - { connector: s3 }
          - { connector: spring-web }
          - { connector: simple-codecs }
          - { connector: slick }
          - { connector: sns,                          pre_cmd: 'docker compose up -d amazonsns' }
          - { connector: solr }
          - { connector: sqs,                          pre_cmd: 'docker compose up -d elasticmq' }
          - { connector: sse }
          - { connector: text }
          - { connector: udp }
          - { connector: unix-domain-socket }
          - { connector: xml }

    env:
      JAVA_OPTS: -Xms2G -Xmx3G -Xss2M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-tags: true
          fetch-depth: 0

      - name: Setup Java 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Install sbt
        uses: sbt/setup-sbt@1cad58d595b729a71ca2254cdf5b43dd6f42d4bb # v1.1.18

      - name: Cache Coursier cache
        uses: coursier/cache-action@e47d7d35a0d3a2c7f649ca5c63dfc2bbfaa002e7 # v6.4.7

      - name: ${{ matrix.connector }}
        env:
          CONNECTOR: ${{ matrix.connector }}
          PRE_CMD: ${{ matrix.pre_cmd }}
        run: |-
          $PRE_CMD
          sbt "+${CONNECTOR}/test"

      - name: Print logs on failure
        if: failure()
        run: find . -name "*.log" -exec ./scripts/cat-log.sh {} \;
